/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* end YUI Reset */

body {
  background-color: #eee;
  font-family: Helvetica Neue, 'Montserrat';
  padding: 10px;
}

h1 {
  color: #A0C8EA;
  font-size: 2em;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h3 {
  color: #01669B;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

h4 {
  font-weight: bold;
  margin: 10px 0;
}

div.section-body ol li {
  list-style: decimal;
}

div.section-body ul li {
  list-style: circle inside;
}

li {
  margin-left: 10px;
  padding-bottom: 10px;
}

p {
  margin: 1em 0;
}

.arrow-left {
  display: inline;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.arrow-right {
  display: inline;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.indented-passage {
  padding-left: 1em;
}

.question {
  margin: 20px 0;
}

.section-body {
  margin: 10px 0;
}

.section-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.swipe-control {
  background-color: #01669B;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.swipe-control:active {
  background-color: #A0C8EA;
}

.swipe-control-text {
  position: relative;
  top: 2px;
}

.super {
  vertical-align: super;
  font-size: .75em;
}